<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553020657135-gtds2l84eomc4d7bodss81kal1rh74sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553020657135-gtds2l84eomc4d7bodss81kal1rh74sn</string>
	<key>API_KEY</key>
	<string>AIzaSyCjD-yRI6O5OmkwIB4VERarmWfr8uFKfUk</string>
	<key>GCM_SENDER_ID</key>
	<string>553020657135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.makingstuffup.mypersonalnotes</string>
	<key>PROJECT_ID</key>
	<string>im-doing-mybest</string>
	<key>STORAGE_BUCKET</key>
	<string>im-doing-mybest.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553020657135:ios:794ef131624f0182d03a1a</string>
</dict>
</plist>